@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
     .sub-heading-h2{
        @apply text-4xl lg:text-5xl font-semibold font-tushar-fonts leading-normal
     }
     .container2{
      @apply px-6 py-0 lg:py-0 max-w-7xl md:mt-16 mx-auto lg:px-8
     }
     .new-container-testi{
      @apply py-20 md:py-12
     }
     .anchor-hover{
      @apply border-b border-dotted border-gray-300 hover:border-solid hover:border-gray-500
     }
     .gradient-hover-outer{
      @apply p-[1px] bg-slate-200 hover:bg-gradient-to-br hover:from-red-200 hover:via-purple-400 hover:to-yellow-200
     }
     .gradient-hover-inner{
      @apply bg-slate-50 group-hover:bg-gradient-to-br group-hover:from-red-50 group-hover:via-purple-50 group-hover:to-yellow-50
     }
     #nav-dialog {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #fff;
      z-index: 1000;
      transform: translateX(-100%);
      transition: transform 0.5s ease-in-out;
    }
    #nav-dialog.open {
      transform: translateX(0);
    }
    .close-button {
      transition: transform 0.3s ease-in-out;
    }
    .close-button.rotate {
      transform: rotate(180deg);
    }
}